.heading{
    display: flex;
    justify-content: center;
    
}  
*{
    box-sizing: border-box; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading h2{
    font-size: 2rem; 
    text-decoration: underline;
    text-decoration-color: red;
}
.scroll{
    overflow: auto; 
     
    height: 40vh;
    white-space: nowrap; 
    background-color: linen;
}
.card{
    height: 80%; 
    display: inline-block;
    width: 200px;
    background-color: white;
    border: 2px solid black;
     border-radius: 5px; 
    margin: 20px; 
    position: relative; 
    transition: 0.4s ease;
    
}  
.text{
    position: absolute;
    color: red; 
    opacity: 0;
    left: 0;
    top: 0;  
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: black;
    transition: 0.7s ease-in;
} 
 .buy{ 
     position: absolute;
     left: 35%;  

     padding: 5px 20px 5px 20px;
     background-color: blue;
     color: white;
      border: 0px ;
     top: 30%;
 }  
 .buy a{
     color: white;
 }
 .add{
    position: absolute;
    left:22%;  
    border: 0px;
    padding: 5px 20px 5px 20px;
    background-color: blue;
    color: white;

    top:55%;
 }
.text:hover{
    opacity: 1;
}
.image{
    width: 100%;
    height: 75%; 
    padding: 10px;

} 
.image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
} 
.card h2{
    font-size: 1.5rem;
    display: flex;
    justify-content: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}   
.partner{
    overflow: auto;
    white-space: nowrap;
} 
ul{
    margin-top: 20px; 
    display: flex;
    justify-content: center;
    text-align: center;
}
ul li{
    
     list-style: none;
    margin-left: 20px;
    margin-right: 10px;  


} 
.review{
    justify-content: center;
    display: flex;
    
    flex-direction: column;
}
.rw{
    width: 70vw;
    height: 30vh;
    border: 2px solid black; 
    display: flex; 
    flex-direction: column; 
    margin-top: 20px;
    margin-left: 20vw; 
    border-radius: 5px; 
    box-shadow: 5px 5px 15px black;
} 
 .rw p{ 
     padding-top: 20px; 
     padding-left: 20px;
     padding-right: 20px;
   text-align: center;
     
 } 
 .rw h3{
     text-align: center;
 } 
 .footer{
     height: 60vh;
     width: 100vw;
     background-color: black;
 } 
 .footer h2{
     text-align: center;
     color: white; 
     padding-top: 20px;

 } 
 .footer p{
     text-align: center;
     color: white;
     padding-left: 10px;
     padding-right: 10px;
 }  
 
 .insta img{
     width: 20px;
 }  
 .insta{
     
     margin: 10px;
 }
 .insta button{
     color: white;
     background-color: black;
     border: 0px; 
     
 }  
 .show{
     display: flex;
     justify-content: center;
     text-align: center;
 } 
 .show button{
     color: black;
     background-color: transparent;
    border: 2px solid red;
    padding: 5px 10px 5px 10px; 
    transition: 1s ease; 
    
 } 
 .show button:hover{
     color: white;
     background-color: red; 
     border-radius: 10px; 
     font-size: 17px; 
     box-shadow: 2px 3px 5px black;
 }  
 .form{
     background-color: transparent;
     height: 50vh;
     width: 100%; 
     border: 3px solid purple;
     background-color: transparent;
     border-radius: 10px;
     margin-top: 30vh;
     text-align: center;
 }
.name input,.email input,.phone input,.username input{
    border: none; 
    font-size: 20px;
    border-bottom: 3.5px solid purple;
    outline: none; 
    padding: 5px;
}   
.name ,.email,.phone,.username{
    margin-top: 10px;
}
.form{
    border: none;
} 
.submit{
    margin-top: 30px;
} 
.submit input{
    color: purple; 
    font-size: 25px;
    border: 2px solid purple;
    background-color: transparent; 
    transition: 1s ease;
} 
.submit submit:hover{
    border-radius: 10px;
    color: white; 
    font-size: 30px;
    background-color: purple;
} 
.register{
    color: white;
    background-color: purple;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 90px;
    padding-top: 30px;
    border-radius: 10px;
    
} 
.pp{
    display: flex;
    flex-direction: column;
} 
.pp li{
     
    list-style: square;
    margin-top: 30px; 
    font-size: 20px;
}